<h3 class="center-align">Welcome <i class="fa fa-smile-o" aria-hidden="true"></i></h3>
  <div class="row">
    <%= form_tag '/signup', :class => 'col m6 offset-m3' do %>
      Username: <%= text_field_tag :username %>
      Password: <%= password_field_tag :password %>
      Confirm Password: <%= password_field_tag :password_confirmation %>
      <%= submit_tag "Register", :class => 'btn waves-effect waves-light' %>
    <% end %>
  </div>
</div>
