<div class="container">
  <div class="row">
    <h3 class="center-align">Latest Posts</h3>
    <% if current_user and session[:role] == 'admin' %>
      <a href="/posts/new" class="btn-floating waves-effect waves-light pull-right"><i class="fa fa-pencil btn-fa" aria-hidden="true"></i></a>
    <% end %>
  </div>
  <% @posts.each do |post| %>
    <% @comments = post.comments.order('created_at DESC') %>
    <div class="row">
      <div class="card">
          <div class="card-content">
            <span class="card-title"><%= post.title %></span>
            <p><%= post.content %></p>
            <p id="<%= post.id %>-time" class="card-stamp right-align"><i class="fa fa-calendar" aria-hidden="true"></i> Posted <script>setTime('<%= post.id %>-time','<%= post.updated_at %>');</script></p>
          </div>
          <div class="card-action">
            <% @comments.each do |comment| %>
              <p class="left-align"><%= comment.content %> - <strong><%= comment.user %></strong></p>
            <% end %>
            <div id="new-comments-<%= post.id %>">
              <!-- ajax updated -->
            </div>
            <div class="row">
              <% if current_user %>
                <input id="comment-box-<%= post.id %>" class="col s8 offset-s1" type="text" placeholder="comment" name="<%= post.id %>-comment" id="<%= post.id %>-comment"/><a class="btn-floating waves-effect waves-light" onclick="submitComment(<%= post.id %>,'<%= current_user.username %>');"><i class="fa fa-paper-plane btn-fa" aria-hidden="true"></i></a>
              <% else %>
                <h6 class="center-align"><a class="non-awkward-link" href="/login">Sign In</a> to comment.</h6>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
